/* Global color */
:root{
    --primary-background : #222831;
    --secondary-background : #393E46;
    --primary-color : #F96D00;
    --text-color : #F2F2F2;
}

*{
    background-color: var(--primary-background);
}